.CartItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, 253px);
    grid-column-gap: 5%;
    gap:5%;
    grid-auto-rows: 304px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: flex-end;
    width: 100%;
    height: 90vh;

    grid-column-gap: 16px;
    justify-items: center;
}

.cartItems {
    container-type: inline-size;
}

@container(min-width:500px) {
    .ProductCard {
        border: 1px solid green;
    }
}