.productGrid {

  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 15%;
  height: 75vh;

  LI {
    list-style-type: none;
  }


}
